#message_send{
	width:350px;
	height:500px;
	margin: 100px auto;
	display:flex;
	flex-direction:column;
}
#customer_id, #message_title{
	height:40px;
	line-height:40px;
	text-indent:20px;
	background-color:var(--c4);
	color:var(--c8);
}
#message_content{
	padding:20px;
	resize:none;
	flex:1;
	background-color:var(--c4);
	color:var(--c8);
}

#message_send_button{
	height:40px;
	font-size:12px;
	line-height:40px;
	background-color:var(--c2);
	color:white;
}
#message_send_button:hover{
	color:white;
	background-color:var(--c3);
}
.subtitle{
	color:var(--c5);
}